<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups />
    <proxies />
    <servers>
        <server>
            <id>meeraspace</id>
            <username>admin</username>
            <password>xe3QrdUnp</password>
        </server>
    </servers>
    <mirrors />
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>meeraspace</id>
                    <name>meeraspace nexus</name>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <url>https://nexus.dev.meeraspace.com/repository/maven-public/</url>
                </repository>
				<repository>
					<id>OGC</id>
					<name>OGC</name>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
                        <enabled>true</enabled>
                    </releases>
					<url>https://repo.osgeo.org/repository/release/</url>
				</repository>

            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
